In [563]:
# Installs
# !pip3 install pycountry_convert

### Importing libraries

In [564]:
import pandas as pd
import numpy as np
import pycountry_convert as pc
from datetime import datetime

### Retrieving Dataset

In [612]:
df_confirmed_global = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df_deaths_global = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')


df_confirmed_US = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
df_deaths_US = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')


df_vaccine_global = pd.read_csv('https://raw.githubusercontent.com/govex/COVID-19/master/data_tables/vaccine_data/global_data/time_series_covid19_vaccine_global.csv')
df_vaccine_US = pd.read_csv('https://raw.githubusercontent.com/govex/COVID-19/master/data_tables/vaccine_data/us_data/time_series/time_series_covid19_vaccine_us.csv')


df_covid19 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv")
df_table = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_time.csv",parse_dates=['Last_Update'], low_memory=False)

### Dataframe Information

In [566]:
df_confirmed_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1056 entries, Province/State to 12/8/22
dtypes: float64(2), int64(1052), object(2)
memory usage: 2.3+ MB

In [567]:
# First 5 rows of dataframe
df_confirmed_global.head()

,Province/State,Country/Region,Lat,Long,1/22/20,...,12/4/22,12/5/22,12/6/22,12/7/22,12/8/22
0,NaN,Afghanistan,33.93911,67.709953,0,...,206206,206273,206331,206414,206465
1,NaN,Albania,41.15330,20.168300,0,...,333408,333413,333455,333472,333490
2,NaN,Algeria,28.03390,1.659600,0,...,271107,271113,271122,271128,271135
3,NaN,Andorra,42.50630,1.521800,0,...,47219,47219,47219,47446,47446
4,NaN,Angola,-11.20270,17.873900,0,...,104676,104750,104750,104808,104808

In [568]:
df_deaths_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1056 entries, Province/State to 12/8/22
dtypes: float64(2), int64(1052), object(2)
memory usage: 2.3+ MB

In [569]:
# First 5 rows of dataframe
df_deaths_global.head()

,Province/State,Country/Region,Lat,Long,1/22/20,...,12/4/22,12/5/22,12/6/22,12/7/22,12/8/22
0,NaN,Afghanistan,33.93911,67.709953,0,...,7834,7835,7835,7837,7839
1,NaN,Albania,41.15330,20.168300,0,...,3594,3594,3594,3594,3594
2,NaN,Algeria,28.03390,1.659600,0,...,6881,6881,6881,6881,6881
3,NaN,Andorra,42.50630,1.521800,0,...,157,157,157,158,158
4,NaN,Angola,-11.20270,17.873900,0,...,1924,1925,1925,1925,1925

In [570]:
df_confirmed_US.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Columns: 1063 entries, UID to 12/8/22
dtypes: float64(3), int64(1054), object(6)
memory usage: 27.1+ MB

In [571]:
# First 5 rows of dataframe
df_confirmed_US.head()

,UID,iso2,iso3,code3,FIPS,...,12/4/22,12/5/22,12/6/22,12/7/22,12/8/22
0,84001001,US,USA,840,1001.0,...,18680,18680,18680,18752,18752
1,84001003,US,USA,840,1003.0,...,66730,66730,66730,66951,66951
2,84001005,US,USA,840,1005.0,...,6980,6980,6980,6989,6989
3,84001007,US,USA,840,1007.0,...,7637,7637,7637,7653,7653
4,84001009,US,USA,840,1009.0,...,17500,17500,17500,17559,17559

In [572]:
df_deaths_US.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Columns: 1064 entries, UID to 12/8/22
dtypes: float64(3), int64(1055), object(6)
memory usage: 27.1+ MB

In [573]:
# First 5 rows of dataframe
df_deaths_US.head()

,UID,iso2,iso3,code3,FIPS,...,12/4/22,12/5/22,12/6/22,12/7/22,12/8/22
0,84001001,US,USA,840,1001.0,...,230,230,230,230,230
1,84001003,US,USA,840,1003.0,...,716,716,716,717,717
2,84001005,US,USA,840,1005.0,...,103,103,103,103,103
3,84001007,US,USA,840,1007.0,...,108,108,108,108,108
4,84001009,US,USA,840,1009.0,...,259,259,259,260,260

In [574]:
df_vaccine_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126517 entries, 0 to 126516
Data columns (total 6 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Date                      126517 non-null  object
 1   UID                       125807 non-null  float64
 2   Province_State            0 non-null       float64
 3   Country_Region            126517 non-null  object
 4   Doses_admin               126509 non-null  float64
 5   People_at_least_one_dose  126517 non-null  int64
dtypes: float64(3), int64(1), object(2)
memory usage: 5.8+ MB

In [575]:
# First 5 rows of dataframe
df_vaccine_global.head()

,Date,UID,Province_State,Country_Region,Doses_admin,People_at_least_one_dose
0,2020-12-29,40.0,NaN,Austria,2123.0,2123
1,2020-12-29,48.0,NaN,Bahrain,55014.0,55014
2,2020-12-29,112.0,NaN,Belarus,0.0,0
3,2020-12-29,56.0,NaN,Belgium,340.0,340
4,2020-12-29,124.0,NaN,Canada,59079.0,59078

In [576]:
df_vaccine_US.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41459 entries, 0 to 41458
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      41459 non-null  object
 1   UID                       41459 non-null  int64
 2   Province_State            40735 non-null  object
 3   Country_Region            41459 non-null  object
 4   Doses_admin               41459 non-null  int64
 5   People_at_least_one_dose  41459 non-null  int64
 6   People_fully_vaccinated   41459 non-null  int64
 7   Total_additional_doses    41459 non-null  int64
dtypes: int64(5), object(3)
memory usage: 2.5+ MB

In [577]:
# First 5 rows of dataframe
df_vaccine_US.head()

,Date,UID,Province_State,Country_Region,Doses_admin,People_at_least_one_dose,People_fully_vaccinated,Total_additional_doses
0,2020-12-15,840,NaN,US,509,0,0,0
1,2020-12-15,84000001,Alabama,US,0,0,0,0
2,2020-12-15,84000002,Alaska,US,0,0,0,0
3,2020-12-15,16,American Samoa,US,0,0,0,0
4,2020-12-15,84000004,Arizona,US,0,0,0,0

In [578]:
df_covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country_Region       201 non-null    object
 1   Last_Update          201 non-null    object
 2   Lat                  199 non-null    float64
 3   Long_                199 non-null    float64
 4   Confirmed            201 non-null    int64
 5   Deaths               201 non-null    int64
 6   Recovered            0 non-null      float64
 7   Active               0 non-null      float64
 8   Incident_Rate        196 non-null    float64
 9   People_Tested        0 non-null      float64
 10  People_Hospitalized  0 non-null      float64
 11  Mortality_Rate       201 non-null    float64
 12  UID                  201 non-null    int64
 13  ISO3                 197 non-null    object
 14  Cases_28_Days        201 non-null    int64
 15  Deaths_28_Days       201 non-null    int64
dtypes: float64(8), int64(5), object(3)
memory usage: 25.2+ KB

In [579]:
# First 5 rows of dataframe
df_covid19.head()

,Country_Region,Last_Update,Lat,Long_,Confirmed,...,Mortality_Rate,UID,ISO3,Cases_28_Days,Deaths_28_Days
0,Afghanistan,2022-12-09 23:20:32,33.93911,67.709953,206504,...,3.796052,4,AFG,2178,10
1,Albania,2022-12-09 23:20:32,41.15330,20.168300,333491,...,1.077690,8,ALB,387,1
2,Algeria,2022-12-09 23:20:32,28.03390,1.659600,271140,...,2.537803,12,DZA,218,0
3,Andorra,2022-12-09 23:20:32,42.50630,1.521800,47446,...,0.333010,20,AND,782,3
4,Angola,2022-12-09 23:20:32,-11.20270,17.873900,104808,...,1.836692,24,AGO,1677,8

In [580]:
df_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272468 entries, 0 to 272467
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Country_Region       272468 non-null  object
 1   Last_Update          272468 non-null  datetime64[ns]
 2   Confirmed            272468 non-null  int64
 3   Deaths               272468 non-null  int64
 4   Recovered            0 non-null       float64
 5   Active               0 non-null       float64
 6   Delta_Confirmed      272185 non-null  float64
 7   Delta_Recovered      0 non-null       float64
 8   Incident_Rate        264052 non-null  float64
 9   People_Tested        0 non-null       float64
 10  People_Hospitalized  0 non-null       float64
 11  Province_State       61016 non-null   object
 12  FIPS                 61016 non-null   float64
 13  UID                  272468 non-null  int64
 14  iso3                 268260 non-null  object
 15  Report_Date_String   272468 non-null  object
 16  Delta_Deaths         271972 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(4)
memory usage: 35.3+ MB

In [581]:
# First 5 rows of dataframe
df_table.head()

,Country_Region,Last_Update,Confirmed,Deaths,Recovered,...,FIPS,UID,iso3,Report_Date_String,Delta_Deaths
0,Afghanistan,2020-01-22,0,0,NaN,...,NaN,4,AFG,2020/01/22,0.0
1,Afghanistan,2020-01-23,0,0,NaN,...,NaN,4,AFG,2020/01/23,0.0
2,Afghanistan,2020-01-24,0,0,NaN,...,NaN,4,AFG,2020/01/24,0.0
3,Afghanistan,2020-01-25,0,0,NaN,...,NaN,4,AFG,2020/01/25,0.0
4,Afghanistan,2020-01-26,0,0,NaN,...,NaN,4,AFG,2020/01/26,0.0

### Data Preprocessing

In [582]:
# Taking only necessary columns
df_confirmed_US.drop(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Country_Region', 'Lat', 'Long_', 'Combined_Key'], axis=1, inplace=True)
df_deaths_US.drop(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Country_Region', 'Lat', 'Long_', 'Combined_Key', 'Population'], axis=1, inplace=True)
df_covid19.drop(["People_Tested","People_Hospitalized","UID","ISO3","Mortality_Rate"], axis=1, inplace=True)
df_vaccine_global.drop(['UID', 'Province_State'], axis=1, inplace=True)
df_vaccine_US.drop(['UID', 'Country_Region'], axis=1, inplace=True)

In [583]:
# Renaming columns
df_confirmed_global.rename(columns={"Province/State":"State","Country/Region": "Country"}, inplace=True)
df_deaths_global.rename(columns={"Province/State":"State","Country/Region": "Country"}, inplace=True)
df_confirmed_US.rename(columns={'Province_State': 'State'}, inplace=True)
df_deaths_US.rename(columns={'Province_State': 'State'}, inplace=True)
df_covid19.rename(columns={"Country_Region": "Country"}, inplace=True)

In [584]:
# COVID 19 active cases
df_covid19["Active"] = df_covid19["Confirmed"]-df_covid19["Recovered"]-df_covid19["Deaths"]

In [585]:
# Unique countries
df_confirmed_global['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, North', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'US',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [586]:
# Unique countries
df_deaths_global['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, North', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'US',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [587]:
# Changing the country names as required by pycountry_convert Lib

df_confirmed_global.loc[df_confirmed_global['Country'] == "US", "Country"] = "USA"
df_deaths_global.loc[df_deaths_global['Country'] == "US", "Country"] = "USA"
df_covid19.loc[df_covid19['Country'] == "US", "Country"] = "USA"
df_table.loc[df_table['Country_Region'] == "US", "Country_Region"] = "USA"

df_confirmed_global.loc[df_confirmed_global['Country'] == 'Korea, South', "Country"] = 'South Korea'
df_deaths_global.loc[df_deaths_global['Country'] == 'Korea, South', "Country"] = 'South Korea'
df_covid19.loc[df_covid19['Country'] == "Korea, South", "Country"] = "South Korea"
df_table.loc[df_table['Country_Region'] == "Korea, South", "Country_Region"] = "South Korea"

df_confirmed_global.loc[df_confirmed_global['Country'] == 'Taiwan*', "Country"] = 'Taiwan'
df_deaths_global.loc[df_deaths_global['Country'] == 'Taiwan*', "Country"] = 'Taiwan'
df_covid19.loc[df_covid19['Country'] == "Taiwan*", "Country"] = "Taiwan"
df_table.loc[df_table['Country_Region'] == "Taiwan*", "Country_Region"] = "Taiwan"

df_confirmed_global.loc[df_confirmed_global['Country'] == 'Congo (Kinshasa)', "Country"] = 'Democratic Republic of the Congo'
df_deaths_global.loc[df_deaths_global['Country'] == 'Congo (Kinshasa)', "Country"] = 'Democratic Republic of the Congo'
df_covid19.loc[df_covid19['Country'] == "Congo (Kinshasa)", "Country"] = "Democratic Republic of the Congo"
df_table.loc[df_table['Country_Region'] == "Congo (Kinshasa)", "Country_Region"] = "Democratic Republic of the Congo"

df_confirmed_global.loc[df_confirmed_global['Country'] == "Cote d'Ivoire", "Country"] = "CÃ´te d'Ivoire"
df_deaths_global.loc[df_deaths_global['Country'] == "Cote d'Ivoire", "Country"] = "CÃ´te d'Ivoire"
df_covid19.loc[df_covid19['Country'] == "Cote d'Ivoire", "Country"] = "CÃ´te d'Ivoire"
df_table.loc[df_table['Country_Region'] == "Cote d'Ivoire", "Country_Region"] = "CÃ´te d'Ivoire"

df_confirmed_global.loc[df_confirmed_global['Country'] == "Reunion", "Country"] = "RÃ©union"
df_deaths_global.loc[df_deaths_global['Country'] == "Reunion", "Country"] = "RÃ©union"
df_covid19.loc[df_covid19['Country'] == "Reunion", "Country"] = "RÃ©union"
df_table.loc[df_table['Country_Region'] == "Reunion", "Country_Region"] = "RÃ©union"

df_confirmed_global.loc[df_confirmed_global['Country'] == 'Congo (Brazzaville)', "Country"] = 'Republic of the Congo'
df_deaths_global.loc[df_deaths_global['Country'] == 'Congo (Brazzaville)', "Country"] = 'Republic of the Congo'
df_covid19.loc[df_covid19['Country'] == "Congo (Brazzaville)", "Country"] = "Republic of the Congo"
df_table.loc[df_table['Country_Region'] == "Congo (Brazzaville)", "Country_Region"] = "Republic of the Congo"

df_confirmed_global.loc[df_confirmed_global['Country'] == 'Bahamas, The', "Country"] = 'Bahamas'
df_deaths_global.loc[df_deaths_global['Country'] == 'Bahamas, The', "Country"] = 'Bahamas'
df_covid19.loc[df_covid19['Country'] == "Bahamas, The", "Country"] = "Bahamas"
df_table.loc[df_table['Country_Region'] == "Bahamas, The", "Country_Region"] = "Bahamas"

df_confirmed_global.loc[df_confirmed_global['Country'] == 'Gambia, The', "Country"] = 'Gambia'
df_deaths_global.loc[df_deaths_global['Country'] == 'Gambia, The', "Country"] = 'Gambia'
df_covid19.loc[df_covid19['Country'] == "Gambia, The", "Country"] = "Gambia"
df_table.loc[df_table['Country_Region'] == "Gambia", "Country_Region"] = "Gambia"

In [588]:
# Getting all countries
countries = np.asarray(df_confirmed_global["Country"])
countries1 = np.asarray(df_covid19["Country"])

# Continent_code to Continent_names
continents = {
    'NA': 'North America',
    'SA': 'South America', 
    'AS': 'Asia',
    'OC': 'Australia',
    'AF': 'Africa',
    'EU' : 'Europe',
    'na' : 'Others'
}

# Defining function to get continent code for country.
def country_to_continent_code(country):
    try:
        return pc.country_alpha2_to_continent_code(pc.country_name_to_country_alpha2(country))
    except :
        return 'na'

# Collecting Continent Information
df_confirmed_global.insert(2,"Continent", [continents[country_to_continent_code(country)] for country in countries[:]])
df_deaths_global.insert(2,"Continent",  [continents[country_to_continent_code(country)] for country in countries[:]])
df_covid19.insert(1,"Continent",  [continents[country_to_continent_code(country)] for country in countries1[:]])
df_table.insert(1,"Continent",  [continents[country_to_continent_code(country)] for country in df_table["Country_Region"].values])

In [589]:
df_vaccine_US.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41459 entries, 0 to 41458
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      41459 non-null  object
 1   Province_State            40735 non-null  object
 2   Doses_admin               41459 non-null  int64
 3   People_at_least_one_dose  41459 non-null  int64
 4   People_fully_vaccinated   41459 non-null  int64
 5   Total_additional_doses    41459 non-null  int64
dtypes: int64(4), object(2)
memory usage: 1.9+ MB

In [590]:
# Removing rows with empty value in any column
df_vaccine_US.dropna(inplace=True)

In [591]:
df_vaccine_US.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40735 entries, 1 to 41458
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      40735 non-null  object
 1   Province_State            40735 non-null  object
 2   Doses_admin               40735 non-null  int64
 3   People_at_least_one_dose  40735 non-null  int64
 4   People_fully_vaccinated   40735 non-null  int64
 5   Total_additional_doses    40735 non-null  int64
dtypes: int64(4), object(2)
memory usage: 2.2+ MB

In [592]:
# Replacing null values with empty strings
df_confirmed_global = df_confirmed_global.replace(np.nan, '', regex=True)
df_deaths_global = df_deaths_global.replace(np.nan, '', regex=True)

### Generating CSVs after data preprocessing

In [593]:
df_confirmed_global.to_csv('/Users/jpl-st-spring2021/Documents/CSC 805 Data Visualization/CSC805_Project/csvs/confirmed_cases_global.csv')
df_deaths_global.to_csv('/Users/jpl-st-spring2021/Documents/CSC 805 Data Visualization/CSC805_Project/csvs/deaths_cases_global.csv')
df_vaccine_global.to_csv('/Users/jpl-st-spring2021/Documents/CSC 805 Data Visualization/CSC805_Project/csvs/vaccine_global.csv')
df_vaccine_US.to_csv('/Users/jpl-st-spring2021/Documents/CSC 805 Data Visualization/CSC805_Project/csvs/vaccine_US.csv')

### Transpose dataframes

In [594]:
df_confirmed_global.drop(['State', 'Continent', 'Lat', 'Long'], axis=1, inplace=True)
df_confirmed_global = df_confirmed_global.groupby(['Country']).sum()
df_confirmed_global = df_confirmed_global.rename_axis("Date", axis="columns")
df_confirmed_global_transposed = df_confirmed_global.transpose()
df_confirmed_global_transposed = df_confirmed_global_transposed.reset_index()
df_confirmed_global_transposed = pd.melt(df_confirmed_global_transposed, id_vars=['Date'], value_vars=['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', "CÃ´te d'Ivoire", 'Democratic Republic of the Congo', 'Denmark', 'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of the Congo', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'USA', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia', 'Zimbabwe'], value_name = 'Number of Confirmed Cases')
df_confirmed_global_transposed.set_index(['Date', 'Country'], inplace=True)

In [595]:
df_confirmed_global_transposed.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 211452 entries, ('1/22/20', 'Afghanistan') to ('12/8/22', 'Zimbabwe')
Data columns (total 1 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Number of Confirmed Cases  211452 non-null  int64
dtypes: int64(1)
memory usage: 2.5+ MB

In [596]:
df_deaths_global.drop(['State', 'Continent', 'Lat', 'Long'], axis=1, inplace=True)
df_deaths_global = df_deaths_global.groupby(['Country']).sum()
df_deaths_global = df_deaths_global.rename_axis("Date", axis="columns")
df_deaths_global_transposed = df_deaths_global.transpose()
df_deaths_global_transposed = df_deaths_global_transposed.reset_index()
df_deaths_global_transposed = pd.melt(df_deaths_global_transposed, id_vars=['Date'], value_vars=['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', "CÃ´te d'Ivoire", 'Democratic Republic of the Congo', 'Denmark', 'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of the Congo', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'USA', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia', 'Zimbabwe'], value_name = 'Number of Death Cases')
df_deaths_global_transposed.set_index(['Date', 'Country'], inplace=True)

In [597]:
df_deaths_global_transposed.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 211452 entries, ('1/22/20', 'Afghanistan') to ('12/8/22', 'Zimbabwe')
Data columns (total 1 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Number of Death Cases  211452 non-null  int64
dtypes: int64(1)
memory usage: 2.5+ MB

In [598]:
df_confirmed_global_transposed.to_csv('/Users/jpl-st-spring2021/Documents/CSC 805 Data Visualization/CSC805_Project/csvs/transposed_confirmed_cases_global.csv')
df_deaths_global_transposed.to_csv('/Users/jpl-st-spring2021/Documents/CSC 805 Data Visualization/CSC805_Project/csvs/transposed_death_cases_global.csv')

### Dataframe with both Confirmed Cases and Death Cases globally

In [599]:
df_confirmed_deaths_global = pd.merge(df_confirmed_global_transposed, df_deaths_global_transposed[["Number of Death Cases"]], on=['Date', 'Country'], how="left")
df_confirmed_deaths_global.head()

                     Number of Confirmed Cases  Number of Death Cases
Date    Country
1/22/20 Afghanistan                          0                      0
1/23/20 Afghanistan                          0                      0
1/24/20 Afghanistan                          0                      0
1/25/20 Afghanistan                          0                      0
1/26/20 Afghanistan                          0                      0

In [600]:
df_confirmed_deaths_global.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 211452 entries, ('1/22/20', 'Afghanistan') to ('12/8/22', 'Zimbabwe')
Data columns (total 2 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Number of Confirmed Cases  211452 non-null  int64
 1   Number of Death Cases      211452 non-null  int64
dtypes: int64(2)
memory usage: 4.1+ MB

In [601]:
df_confirmed_deaths_global.to_csv('/Users/jpl-st-spring2021/Documents/CSC 805 Data Visualization/CSC805_Project/csvs/transposed_confirmed_death_cases_global.csv')

In [602]:
df_confirmed_US = df_confirmed_US.groupby(['State']).sum()
df_confirmed_US = df_confirmed_US.rename_axis("Date", axis="columns")
df_confirmed_US_transposed = df_confirmed_US.transpose()
df_confirmed_US_transposed = df_confirmed_US_transposed.reset_index()
df_confirmed_US_transposed = pd.melt(df_confirmed_US_transposed, id_vars=['Date'], value_vars=['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Diamond Princess', 'District of Columbia', 'Florida', 'Georgia', 'Grand Princess', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'], value_name = 'Number of Confirmed Cases')
df_confirmed_US_transposed.set_index(['Date', 'State'], inplace=True)

In [603]:
df_confirmed_US_transposed.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 61016 entries, ('1/22/20', 'Alabama') to ('12/8/22', 'Wyoming')
Data columns (total 1 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Number of Confirmed Cases  61016 non-null  int64
dtypes: int64(1)
memory usage: 698.6+ KB

In [604]:
df_deaths_US = df_deaths_US.groupby(['State']).sum()
df_deaths_US = df_deaths_US.rename_axis("Date", axis="columns")
df_deaths_US_transposed = df_deaths_US.transpose()
df_deaths_US_transposed = df_deaths_US_transposed.reset_index()
df_deaths_US_transposed = pd.melt(df_deaths_US_transposed, id_vars=['Date'], value_vars=['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Diamond Princess', 'District of Columbia', 'Florida', 'Georgia', 'Grand Princess', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'], value_name = 'Number of Death Cases')
df_deaths_US_transposed.set_index(['Date', 'State'], inplace=True)

In [605]:
df_deaths_US_transposed.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 61016 entries, ('1/22/20', 'Alabama') to ('12/8/22', 'Wyoming')
Data columns (total 1 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Number of Death Cases  61016 non-null  int64
dtypes: int64(1)
memory usage: 698.6+ KB

In [606]:
df_confirmed_US_transposed.to_csv('/Users/jpl-st-spring2021/Documents/CSC 805 Data Visualization/CSC805_Project/csvs/transposed_confirmed_cases_US.csv')
df_deaths_US_transposed.to_csv('/Users/jpl-st-spring2021/Documents/CSC 805 Data Visualization/CSC805_Project/csvs/transposed_death_cases_US.csv')

### Dataframe with both Confirmed Cases and Death Cases in the US

In [607]:
df_confirmed_deaths_US = pd.merge(df_confirmed_US_transposed, df_deaths_US_transposed[["Number of Death Cases"]], on=['Date', 'State'], how="left")
df_confirmed_deaths_US.head()

                 Number of Confirmed Cases  Number of Death Cases
Date    State
1/22/20 Alabama                          0                      0
1/23/20 Alabama                          0                      0
1/24/20 Alabama                          0                      0
1/25/20 Alabama                          0                      0
1/26/20 Alabama                          0                      0

In [608]:
df_confirmed_deaths_US.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 61016 entries, ('1/22/20', 'Alabama') to ('12/8/22', 'Wyoming')
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Number of Confirmed Cases  61016 non-null  int64
 1   Number of Death Cases      61016 non-null  int64
dtypes: int64(2)
memory usage: 1.1+ MB

In [609]:
df_confirmed_deaths_US.to_csv('/Users/jpl-st-spring2021/Documents/CSC 805 Data Visualization/CSC805_Project/csvs/transposed_confirmed_death_cases_US.csv')